{% extends 'base.html.twig' %}

{% block title%}Страница товара{% endblock %}

{% block body%}
    <h1>{{ product.name }}</h1>

    <p>{{ product.description }}</p>
    <p>Цена: {{ product.price }}</p>

    {% if product.isTop %}
    <p>Aaaaaaaaa!!!</p>
    {% endif %}

    <a href="{{ path('homepage') }}">На главную</a>
{% endblock %}

