
{% extends 'base.html.twig' %}

{% block body %}

    {% for category in categories %}
    <h2><a href="{{ path('category_show' , {'id': category.id}) }}">{{ category.name }}</a></h2>
    {% endfor %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="//placehold.it/250x250" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

{% endblock %}
