{% extends 'base.html.twig' %}

{% block body %}
    <h1>Добро пожаловать</h1>

    <div class="row">

    {{ include('partials/product_list.html.twig' , {'products':products}) }}

    </div>
{% endblock %}
